[Unit]
Description=webpage to render weather display
After=network-online.target
 
[Service]
ExecStart=<venvpath>/python <ExecLocation>/weather_renderer_main.py --serve-in-foreground
WorkingDirectory=<ExecLocation>
StandardOutput=inherit
StandardError=inherit
Restart=always
User=<username>
 
[Install]
WantedBy=multi-user.target